################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CLog
/bin/Debug-x64/CLog
/bin-t/Debug-x64/CLog
